<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

    <test name="Multiple classes">
        <classes>
            <class name="com.projectTestsPackage.Advanced.RobotApi"/>
            <class name="com.projectTestsPackage.Advanced.LogsTest"/>
            <class name="com.projectTestsPackage.POM.tests.RegisterUserTest"/>
        </classes>
    </test>

</suite>
